body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.auth-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 20px solid #1f1e1e77;
    border-radius: 20px;
}


.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.login-form button {
    background-color: #2a88ec;
    color: rgb(20, 18, 18);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link-btn {
    background-color: transparent;
    color: #171515;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
}